<!DOCTYPE html>
<div ng-if="files.length" >
    <div class="card">
        <div class="card-header">
            <span style="float: left;">
                Observed Files
            </span>
            <span style="float: right">
                Follow <input type="checkbox" ng-model="follow" ng-click="activate_follow()">
            </span>
        </div>
        <div class="card-body scrollable">
            <nav class="flex-column" >
                <div class="list-group list-group-flush">
                    <div class="nav-item" ng-repeat="file in currentPage">
                        <a  ng-href="#" class="list-group-item list-group-item-action" ng-class="{active: is_file_selected(file)}">
                        <div ng-click="select_file(file)">{{ file.file_name }}</div>
                       </a>
                   </div>
                </div>
            </nav>
        </div>
        <div class="card-footer">
            <div data-ng-show="allPagesNumbers.length > 1">
                <ul class="pagination justify-content-center">
                 <li class="page-item" ng-repeat="pageNumber in pagesToShow track by $index" ng-class="{active: is_page_active(pageNumber)}">
                     <div ng-click="select_page(pageNumber)" class="page-link" href="#">{{ pageNumber }}</div>
                 </li>
            </ul>
            </div>


        </div>
    </div>

</div>
