<!DOCTYPE html>
<html ng-app="fileWatchApp" ng-controller="fileWatchController">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<ng-include src="'views/navbar.html'"></ng-include>

<div class="container-fluid" style="margin-top:80px; height: 90%">

    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-4 col-xl-3">
            <ng-include src="'views/file_table.html'"></ng-include>
        </div>
        <div class="col-md-8 col-xl-9" id="file_detail">
            <ng-include src="'views/file_info.html'"></ng-include>
        </div>
    </div>

</div>

<ng-include src="'views/login.html'"></ng-include>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers/file-watch-controller.js"></script>
<!--<script type="text/javascript">-->
    <!--$(window).on('load', function(){-->
        <!--$('#loginModal').modal('show');-->
    <!--});-->
<!--</script>-->
<!--<script type="text/javascript" src="/js/event-listener.js"></script>-->
</body>
</html>
